<div class="box note">
  <div class="inner-box">
    <% if can? :destroy, note %>
      <%= link_to note, :method => :delete , :class => "delete" do %>
        <span id="add-button" class="x" aria-hidden="true" data-icon="&#xe603;"></span>
      <% end %>
    <% end %>
    <h2><%= note.user.email %>:</h2>
    <p><%= note.body.html_safe %></p>
  </div>
  <% if note.note_type == "Room" %>
    <%= link_to note, :class => "blue-box" do %>

      <span class="left"><%= note.updated_at %></span>
      
      <span id="menu-button" aria-hidden="true" data-icon="&#xe602;"></span> <%= note.notes.length %> Comments
    <% end %>
  <% end %>
</div>
