<% provide(:title, 'Notes') %>
<% if @notes.empty? %>
  <div class="box sorry">
    <div class="inner-box">
      There aren't any notes here. You can make a new one by clicking the <span id="add-button" aria-hidden="true" data-icon="&#xe601;"></span> at the top of your screen!
    </div>
  </div>
<% end %>
<% @notes.each do |note| %>
  <div class="box note">
    <div class="inner-box">
      <h2><%= note.user.email %>:</h2>
      <p><%= note.body %></p>

      <% if false %>
      <%= link_to 'Show', note %></td>
      <%= link_to 'Edit', edit_note_path(note) %>
      <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>