<div class="masonry">
		<% if @notifications.empty? %>
		  <div class="box sorry">
		    <div class="inner-box">
		      There aren't any notifications for you. <br />You live alone, don't you?
		    </div>
		  </div>
		<% else %>
	<% @notifications.each do |notification| %>
		<div class="box notification">
		  <div class="inner-box">
		    <% if notification.read %>
          <%= link_to(notification_path(notification, :notification => {:read => false} ), :method => :put) do%>
		        <span id="add-button" class="x" aria-hidden="true" data-icon="&#xe603;"></span>
		      <% end %>
        <% else %>
          <%= link_to(notification_path(notification, :notification => {:read => true} ), :method => :put) do%>
		        <span id="add-button" class="x" aria-hidden="true" data-icon="&#xe603;"></span>
		      <% end %>
		    <% end %>
		    <h1><%= notification.body.html_safe %></h1>
		  </div>
      <div class="blue-box">
        <span class="left"><%= notification.created_at.strftime("%r") %></span>
        <span class="right"><%= notification.created_at.strftime("%B %e, %Y") %></span>
      </div>
		</div>
		<% end %>
	<% end %>
</div>
