<nav id="main-nav-menu" class="fade">
  <div class="inner-box">
    <%= link_to 'Room', rooms_path %>
    <%= link_to 'Notes', notes_path %>
    <%= link_to 'Pictures', pictures_path %>
    <%= link_to 'Lists', lists_path %>
    <%= link_to 'Polls', poll_lists_path %>
    <%= link_to 'Bills', bills_path %>
    <%= link_to 'Chores', lists_path %>
    <%= link_to "Sign Out", :destroy_user_session, :method => :delete %>
  </div>
</nav>
