<nav id="main-nav-menu" class="fade">
  <div class="inner-box">
    <%= link_to 'House', current_user.room %>
    <%= link_to 'Notes', notes_path %>
    <%= link_to 'Pictures', pictures_path %>
    <%= link_to 'Lists', check_lists_path %>
    <%= link_to 'Polls', poll_lists_path %>
    <%= link_to 'Bills', bills_path %>
    <%= link_to 'Chores', chore_lists_path %>
    <%= link_to 'Invite Friends', "/invitations/new" %>
    <%= link_to "Sign&nbsp;Out".html_safe, :destroy_user_session, :method => :delete %>
  </div>
</nav>
