<nav id="main-nav-menu" class="fade">
  <div class="inner-box">
    <%= link_to('Fridge&nbsp;Feed'.html_safe, current_user.room) if current_user %>
    <%= link_to 'Notes', notes_path %>
    <%= link_to 'Lists', check_lists_path %>
    <%= link_to 'Polls', poll_lists_path %>
    <%= link_to 'Bills', bills_path %>
    <%= link_to 'Chores', chore_lists_path %>
    <%= link_to 'Invite&nbsp;Friends'.html_safe, "/invitations/new" if current_user && !current_user.guest %>
    <%= link_to "Sign&nbsp;Out".html_safe, :destroy_user_session, :method => :delete %>
  </div>
</nav>
