<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>
      <ul>
      <% @bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag "bill[user_id]", current_user.id %>
  <%= f.text_field :body, :placeholder => "Bill Text" %>
  <h2 class="select-title">Recurrence:</h2><%= f.select :interval, IntervalValidatable::INTERVALS %>
  <%= f.hidden_field :recurring, value: "f", :id => "on_interval_change" %>
  <%= f.text_field :amount, :placeholder => "Amount" %>

  <% if @bill.interval == "Weekly" %>
    <div id="monthly_specific_day_of" class="hidden">
      <h2 id="monthly_specific_day_of" class="select-title">Day of the Month:</h2><%= f.select :specific_day_of, ChoreList::DAYS_OF_MONTH, placeholder: "Specific Day Of" %>
    </div>
    <div id="weekly_specific_day_of">
      <h2 id="weely_specific_day_of" class="select-title" >Weekday:</h2><%= f.select :specific_day_of, ChoreList::DAYS_OF_WEEK, placeholder: "Specific Day Of"%>
    </div>
  <% elsif @bill.interval == "Monthly" %>
    <div id="monthly_specific_day_of">
      <h2 id="monthly_specific_day_of" class="select-title">Day of the Month:</h2><%= f.select :specific_day_of, ChoreList::DAYS_OF_MONTH, placeholder: "Specific Day Of" %>
    </div>
    <div id="weekly_specific_day_of" class="hidden">
      <h2 id="weely_specific_day_of" class="select-title">Weekday:</h2><%= f.select :specific_day_of, ChoreList::DAYS_OF_WEEK, placeholder: "Specific Day Of"%>
    </div>
  <% else %>
    <div id="monthly_specific_day_of" class="hidden">
      <h2 class="select-title">Day of the Month:</h2><%= f.select :specific_day_of, ChoreList::DAYS_OF_MONTH, placeholder: "Specific Day Of" %>
    </div>
    <div id="weekly_specific_day_of" class="hidden">
      <h2 id="weely_specific_day_of" class="select-title">Weekday:</h2><%= f.select :specific_day_of, ChoreList::DAYS_OF_WEEK, placeholder: "Specific Day Of"%>
    </div>
  <% end %>

  <%= f.hidden_field :room_id, value: current_user.room_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
