<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag "bill[user_id]", current_user.id %>
  <%= f.text_field :body %>
  <%= f.select :interval, IntervalValidatable::INTERVALS %>
  <%= f.text_field :recurring %>
  <%= f.text_field :amount %>
  <%= f.text_field :specific_day_of %>
  <%= f.hidden_field :room_id, value: current_user.room_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
