<% provide(:title, 'Bills') %>
<% if @bills.empty? %>
  <div class="box sorry">
    <div class="inner-box">
      There aren't any bills here. You can make a new one by clicking the <span id="add-button" aria-hidden="true" data-icon="&#xe601;"></span> at the top of your screen!
    </div>
  </div>
<% end %>
<% @bills.each do |bill| %>
  <div class="box bill">
    <div class="inner-box">
      <h1><%= bill.body %></h1>
      <% if bill.recurring %>
        <div class="bill-recurring-info">
          <% if bill.interval == "Monthly" %>
            <h2>Recurring <%= bill.interval %></h2>
            <h2>Due on the <%= bill.specific_day_of.ordinalize %> of this month</h2>
          <% elsif bill.interval == "Weekly" %>
            <h2>Recurring <%= bill.interval %></h2>
            <h2>Due on <%= day_to_weekday(bill.specific_day_of)%></h2>
          <% elsif bill.interval == "Completion" %>
            <h2>Recurring on <%= bill.interval %></h2>
          <% end %>
        </div>
      <% end %>
      <% if bill.value == 1 %>
        <span class="amount line-through" data-bill-id=<%= bill.id %> data-value=<%= bill.value %>>$<%= bill.amount %></span>
      <% else %>
        <span class="amount" data-bill-id=<%= bill.id %> data-value=<%= bill.value %>>$<%= bill.amount %></span>
      <% end %>
    </div>

    <%= link_to bill, :class => "blue-box" do %>
      <span id="menu-button" aria-hidden="true" data-icon="&#xe600;"></span> <%= bill.notes.length %> Comments
    <% end %>
  </div>
<% end %>
