<% provide(:title, 'Bills') %>
<h1><%= @bill.body %></h1>
<p><%= @bill.user_id %></p>
<p><%= @bill.interval %></p>
<p><%= @bill.recurring %></p>
<p><%= @bill.specific_day_of %></p>
<p><%= @bill.value %></p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
