<%= form_for(@check_list) do |f| %>
  <% if @check_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_list.errors.count, "error") %> prohibited this check_list from being saved:</h2>

      <ul>
      <% @check_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag "check_list[user_id]", current_user.id %>
  <%= f.text_field :title, :placeholder => "List Title" %>

  <%= f.fields_for :check_list_items do |item_form| %>
    <%= render :partial => 'check_list_item_fields', :locals => {:f => item_form} %>
  <% end %>
  
  <%= link_to_add_fields '<span id="menu-button" aria-hidden="true" data-icon="&#xe601;"></span> Add Item'.html_safe , f, :check_list_items %>
  <%= f.hidden_field :room_id, value: current_user.room_id %>

  <div class="actions">
    <%= f.submit "Create List" %>
  </div>
<% end %>
