<%= form_for(@poll_list) do |f| %>
  <% if @poll_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll_list.errors.count, "error") %> prohibited this poll_list from being saved:</h2>

      <ul>
      <% @poll_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag "poll_list[user_id]", current_user.id %>
  <%= f.text_field :question, :placeholder => 'Question' %>

  <%= f.fields_for :poll_list_items do |item_form| %>  
    <%= render :partial => 'poll_list_item_fields', :locals => {:f => item_form} %>
  <% end %>
  <%= link_to_add_fields "Add Choice", f, :poll_list_items %>

  <div class="actions">
    <%= f.submit "Create Poll" %>
  </div>
<% end %>
