<% provide(:title, 'Poll Lists') %>
<% if @poll_lists.empty? %>
  <div class="box sorry">
    <div class="inner-box">
      There aren't any polls here. You can make a new one by clicking the <span id="add-button" aria-hidden="true" data-icon="&#xe601;"></span> at the top of your screen!
    </div>
  </div>
<% end %>
<% @poll_lists.each do |poll_list| %>
  <div class="box polllist">
    <div class="inner-box">
      <h1><%= poll_list.question %></h1>
      <% poll_list.poll_list_items.each do |item| %>
        <div class="item cf" data-item-id=<%= item.id %> data-user-id=<%= current_user.id %>>
          <span class="body"><%= "#{item.body}" %></span>
          <span class="value"><%= "#{item.value}" %></span>
          <span class="increment-poll" ><span aria-hidden="true" data-icon="&#xe601;"></span></span>
        </div>
      <% end %>
    </div>
    <%= link_to poll_list, :class => "blue-box" do %>
      <span id="menu-button" aria-hidden="true" data-icon="&#xe600;"></span> <% %>WHAT #? Comments
    <% end %>
  </div>
<% end %>
