<hr />
<%= f.text_field :body, placeholder: "Chore" %>
<% if interval.nil? %>
  <%= f.hidden_field "interval"%>
<% else %>
  <%= f.hidden_field "interval", value: interval %>
<% end %>

<% if interval == "Weekly" %>
  <h2 class="select-title">Weekday:</h2><%= f.select :specific_day_of, ChoreList::DAYS_OF_WEEK, placeholder: "Specific Day Of"%>
<% elsif interval == "Monthly" %>
  <h2 class="select-title">Day of the Month:</h2><%= f.select :specific_day_of, ChoreList::DAYS_OF_MONTH, placeholder: "Specific Day Of" %>
<% end %>
<%= f.hidden_field :room_id, value: current_user.room_id %>
