<%= form_for(@chore_list) do |f| %>
  <% if @chore_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chore_list.errors.count, "error") %> prohibited this chore_list from being saved:</h2>

      <ul>
      <% @chore_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag "chore_list[user_id]", current_user.id %>
  <%= f.text_field :title, :placeholder => "Chore List Title" %>


  <h2>Add Chore:</h2>
  <%= f.fields_for :chore_list_items do |item_form| %>
    <%= render :partial => 'chore_list_item_fields', :locals => {:f => item_form} %>
  <% end %>
  <%= f.fields_for :chore_list_recurring_items do |item_form| %>
    <%= render :partial => 'chore_list_recurring_item_fields', :locals => {:f => item_form} %>
  <% end %>
  <div class="recurring-options">
    <%= link_to_add_fields "Once", f, :chore_list_items %>
    <%= link_to_add_fields "Daily", f, :chore_list_recurring_items %>
    <%= link_to_add_fields "Weekly", f, :chore_list_recurring_items %>
    <%= link_to_add_fields "Monthly", f, :chore_list_recurring_items %>
  </div>

  <%= f.hidden_field :room_id, value: current_user.room_id %>

  <div class="actions">
    <%= f.submit "Create Chore List" %>
  </div>
<% end %>
