<% provide(:title, 'Chore Lists') %>
<% if @chore_lists.empty? %>
  <div class="box sorry">
    <div class="inner-box">
      There aren't any chores here. You can make a new one by clicking the <span id="add-button" aria-hidden="true" data-icon="&#xe601;"></span> at the top of your screen!
    </div>
  </div>
<% end %>
<% @chore_lists.each do |chore_list| %>
  <div class="box chorelist">
    <div class="inner-box">
      <h1><%= chore_list.title %></h1>
      <% chore_list.chore_list_items.each do |item| %>
        <div class="item">
          <span class="value"><%= "#{item.body}" %></span>
        </div>
      <% end %>
      <% chore_list.chore_list_recurring_items.each do |item| %>
        <div class="item">
          <span class="value"><%= "#{item.body}" %></span>
        </div>
      <% end %>
    </div>
    <%= link_to chore_list, :class => "blue-box" do %>
      <span id="menu-button" aria-hidden="true" data-icon="&#xe600;"></span> <% %>WHAT #? Comments
    <% end %>
  </div>
<% end %>

<% if false %>
  <% @chore_lists.each do |chore_list| %>
    <tr>
      <td><%= chore_list.title %></td>
      <td><%= chore_list.user_id %></td>
      <td><%= link_to 'Show', chore_list %></td>
      <td><%= link_to 'Edit', edit_chore_list_path(chore_list) %></td>
      <td><%= link_to 'Destroy', chore_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
<% end %>