<% provide(:title, 'Chore Lists') %>
<h1><%= @chore_list.title %></h1>

<% @chore_list.chore_list_items.each do |item| %>
  <p><%= "#{item.body}: #{item.value}" %></p>
  <br>
<% end %>

<% @chore_list.chore_list_recurring_items.each do |item| %>
  <p><%= "#{item.body}: #{item.value}" %></p>
  <p><%= "#{item.interval}: #{item.specific_day_of}" %></p>
  <br>
<% end %>

<%= link_to 'Edit', edit_chore_list_path(@chore_list) %> |
<%= link_to 'Back', chore_lists_path %>
