<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).blank? ? "Fridge" : yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>
</head>
<body>

<%# Navmenu collapsed by default %>
<%= render partial: "shared/navmenu" %>

<%# Page wrap is the element pushed aside by nav menu %>
<div id="page-wrap" class="fade">
  <%= render partial: "shared/navbar" %>
  <%= render partial: "shared/alert" %>
  <%# Content is what is filled by the pages %>
  <div id="content" class="inner-box">
    <%= yield %>
  </div>
</div>

</body>
</html>
